table th {
  text-align: center; 
}

table td {
  text-align: center; 
}


.table {
  margin: auto;
  width: 50%; 
}

.container-fluid {
  /* this forces the footer to stay at the bottom even if the content doesn't fill up the page */
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }