{% extends "layout.html" %}
{% block title %}Pokémon App{% endblock %}

{% block content %}
  <p>If you're like me you're pretty good at remembering how water, grass, and fire interact with each other. But the moment Dark/Ghost/Psychic get involved, all confidence goes out the window. Use this app to figure out what's gonna be super effective against whoever you're facing.</p>
  <p>Use the "Type Input" page to manually input the types or use the "Name Input" page to type in a Pokemon's name and search for their types that way.</p>
  <br>
  <p>Happy battling!</p>
{% endblock %}